// ##--Anisul Islam Start--##

// ##SASS Introduction.

// 1. What is SASS ?
// Ans: Syntactically Awesome Style Sheet. It's an extension of CSS. SASS design by Hampton Catlin and developed by Natalie Weizenaum in 2006.

// 2. What are prerequisites to learn SASS ?
// i. HTML,
// ii. CSS,
// iii. JavaScript.

// 3. Why SASS ?
//3.1 SASS has some extra special features hat do not exist in CSS.
// i. Variables,
// ii. nested rules,
// iii. mixin, imports,
// iv. inheritance.

// 3.2 To make our code simpler and more maintainable.

// 3.3 No dry (we can @extend css rules.)

// 4.  SASS comments.
// Standard css  /* comments */
// Inline comments // comment.

@import "reset";
@import "variable";

header {
  background-color: $header__bg-color;
}
.btn {
  border: none;
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
}
.btn-download {
  @extend .btn;
}
.learn-more {
  @extend .btn;
}
@mixin setFontSize($value) {
  @if $value == small {
    font-size: 12px;
  } @else if $value == medium {
    font-size: 16px;
  } @else if $value == large {
    font-size: 20px;
  } @else {
    font-size: none;
  }
}
// nav style
nav {
  margin-top: 15px;
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      margin: 0 15px;
      a {
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: 10px;
        transition: 0.4s;
        @include setFontSize(medium);
      }
      :hover {
        background: black;
        border-radius: 5px;
      }
    }
  }
}

main {
  background: $main__bg-color;
}

footer {
  background: $footer__bg-color;
}

// mixin & include start

@mixin para-style($size, $style) {
  font-size: $size;
  text-align: $style;
}
#about p {
  @include para-style(18px, left);
  margin: 10px 0;
}
#education p {
  @include para-style(16px, justify);
  margin: 10px 0;
}
// mixin & include end

// ##--Anisul Islam End--##

// ##--Nahian Start--##
#menu-2 {
  background-color: tomato;
  ul {
    list-style: none;
    li {
      padding: 10px 20px;
      a {
        text-decoration: none;
        display: block;
        transition: 0.3s;
        :hover {
          color: red;
        }
      }
    }
  }
}
.navbar {
  margin: 20px;
  padding: 10px;
  background-color: #fad24a;
  font: 100% normal Helvetica, sans-serif;
}
.container {
  @extend .navbar;
  border: 2px solid green;
  border-radius: 10px;
}

// Each start
@each $i in (uppercase, lowercase, capitalize) {
  .text-#{$i} {
    text-transform: $i;
  }
}

$list: left, right, center, justify;
@each $i in $list {
  .text-#{$i} {
    text-align: $i;
  }
}

$map: (h1, 50px, 60px, 900), (h2, 40px, 50px, 800), (h3, 30px, 40px, 700),
  (p, 16px, 24px, 400);
@each $name, $font-size, $line-height, $font-weight in $map {
  #{$name} {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
  }
}

$button: (primary, red), (success, green), (info, blue);

@each $name, $color in button {
  .btn-#{$name} {
    background-color: $color;
    display: inline-block;
    padding: 10px 30px;
    text-transform: capitalize;
    text-decoration: none;
  }
}

// Each end

// ##--Nahian End--##

/*
  Flex-Box Start
*/
.flex-main {
  @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
  font-family: "Poppins", sans-serif;
  width: 1000px;
  margin: 100px auto;
  border: 2px solid #ddd;
  padding: 20px;
  &__box {
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    &-single {
      background-color: #ff7720;
      padding: 20px;
      margin: 20px;
      width: 278px;
      h2 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 30px;
      }
    }
  }
}
/*
  Flex-Box End
*/

/*
  Grid Start
*/
.grid__container {
  width: 1000px;
  margin: 100px auto;
  border: 5px solid #54b5e9;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2%;
  &__box {
    background-color: #54b5e9;
    padding: 20px;
    overflow: hidden;
    h4 {
      font-size: 25px;
    }
  }
  .item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

/*
  Grid End
*/
